
.sticky th {
    position: sticky;
    top: 0;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.content-table {
    overflow-x: scroll;
    overflow-y: scroll;
    border-collapse: collapse;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

tr:nth-child(even) {
    background-color: #323232;
}

tr:nth-child(odd) {
    background-color: #575151;
}


th {
    font-weight: bold;
    text-align: left;
    background-color: #141d57;
    color: beige;
    text-shadow: black;
    padding: 8px;
}

td {
    padding: 8px;
    color: beige;
    text-shadow: black;
}
