<!DOCTYPE html>
<html lang="en">

<head>
    <link type="image/x-icon" rel="icon" href="{{ url_for("static", filename="/assets/brew.png" ) }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="styles.css" ) }}" />
    <link rel="script" href="{{ url_for("static", filename="table.js" ) }}" />
    <title>Brew Crew</title>
</head>

<body>
    <div>
        <nav class="topnav sticky_nav">
            <a href="/">Home</a>
            <a href="/pitchers">Pitcher Analysis</a>
            <a href="/hitters">Hitter Analysis</a>
        </nav>
    </div>

    <div class="page_title">
        <h1>Trackman Scouting Reports</h1>
    </div>

    <div class="centered">
        <img src="/static/assets/brew.png" class="home_img" alt="home logo">
    </div>

</body>
</html>
