<!DOCTYPE html>
<html lang="en">

<head>
    <link type="image/x-icon" rel="icon" href="{{ url_for("static", filename="/assets/brew.png" ) }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="styles.css" ) }}" />
    <link rel="script" href="{{ url_for("static", filename="table.js" ) }}" />
    <title>Brew Crew</title>
</head>

<body>
    <div>
        <nav class="topnav sticky_nav">
            <a href="/">Home</a>
            <a href="/pitchers">Pitcher Analysis</a>
            <a href="/hitters">Hitter Analysis</a>
        </nav>
    </div>
    <h1 class="page_title">Upload your CSV file</h1>
    <form method="POST" action="/update_db" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form>


<img src="/static/assets/brew.png">

</body>
</html>
