<!DOCTYPE html>
<html lang="en">

<head>
    <link type="image/x-icon" rel="icon" href="{{ url_for("static", filename="/assets/brew.png" ) }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="styles.css" ) }}" />
    <link rel="script" href="{{ url_for("static", filename="table.js" ) }}" />
    <title>Brew Crew</title>
</head>

<body>
    <div>
        <nav class="topnav sticky_nav">
            <a href="/">Home</a>
            <a href="/pitchers">Pitcher Analysis</a>
            <a href="/hitters">Hitter Analysis</a>
        </nav>
    </div>

    <div class="page_title">
        <h1>{{ pos_page }} Analysis</h1>
    </div>

    <div class="player_name_header">
        <h2>{{ player_name }}</h2>

        {% if plyr_team == "TEX_AGG" %}
            <img class="team_img" src="/static/assets/andm.png" alt="texas aggies">
        {% elif plyr_team == "ARK_RAZ" %}
            <img class="team_img" src="/static/assets/raz.jpg" alt="razorbacks">
        {% else %}
            <p>4/23/22</p>
        {% endif %}
    </div>

    <div>
        {% if pos_page == "Pitcher" %}
        <form action="/pitcher_result" method="POST" class="input">
        {% else %}
        <form action="/hitter_result" method="POST" class="input">
        {% endif %}
           <input id="player_name_input" name="player_name_input" type="text" list="player_name" class="input" placeholder="type {{ pos_page }}'s name ...">
           <datalist id="player_name">
                {% for player in unique_players %}
                    <option value="{{ player }}">{{ player }}</option>
                {% endfor %}
            </datalist>
            <input type="submit" id="submit" value="Enter">
        </form>
    </div>

    <div>
        <img class="center_img" src="{{ url_for("static", filename="/plots/player_result_plot.svg" ) }}" alt="player_result_plt">
    </div>

    <div class="content-table center">
        <table class="content-table  center sticky">
            <!columns>
                <thead>
                    <tr>
                        {% for header in headers %}
                        <th onclick=sortTable()>{{ header }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <!rows of data>
                        {% for row in data %}
                        <tr>
                            {% for cell in row %}
                            <td>
                                {{ cell }}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                </tbody>
        </table>
    </div>
</body>
</html>
