<!DOCTYPE html>
<html lang="en">

<head>
    <link type="image/x-icon" rel="icon" href="{{ url_for("static", filename="/assets/brew.png" ) }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="styles.css" ) }}" />
    <link rel="script" href="{{ url_for("static", filename="table.js" ) }}" />
    <title>Brew Crew</title>
</head>


<body>

    <div>
        <nav class="topnav">
            <a href="/">Pitcher Analysis</a>
            <a href="/hitters">Hitter Analysis</a>
        </nav>
    </div>

    <div class="center page_title">
        <h1>Pitcher Analysis</h1>
    </div>

    <div id="loader"></div>

    <div class="player_name_header center">
        <h2>{{ player_name }}</h2>

        <! Should make the date dynamic>
        <p>4/23/22</p>
    </div>

    <div>
        <form action="/result" method="POST" autocomplete="on" class="input">
            <input type="text" id="player_name" name="player_name"><br><br>
            <input type="submit" id="submit">
        </form>
    </div>

    <div>
        <img class="center_img" src="{{ url_for("static", filename="/plots/player_result_plot.svg" ) }}" alt="player_result_plt">
    </div>

    <div class="content-table center">

        <table class="content-table center table-sortable sticky">
            <!columns>
                <thead>
                    <tr>
                        {% for header in headers %}
                        <th onclick=sortTable()>{{ header }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <!rows of data>
                        {% for row in data %}
                        <tr>
                            {% for cell in row %}
                            <td>
                                {{ cell }}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                </tbody>
        </table>

    </div>


    <!Pre loader function>
        <script>
            function pre_loader() {
                let loader = document.getElementById("loader");
                setTimeout(function () {
                    loader.style.display = "none";
                }, 750)
            }

            pre_loader()
        </script>

</body>

</html>