<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/styles.css">
    <title>Brew Crew</title>
</head>

<body>
<div class="content-table center">

    <table class="content-table center">
        <!columns>
        <thead>
        <tr class="table__header">
            {% for header in headers %}
            <th class="table__cell">{{ header }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <!rows of data>
        {% for row in data %}
        <tr class="table__row">
            {% for cell in row %}
            <td class="table__cell">
                {{ cell }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
</body>


</html>
