<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="styles.css">
    <title>Brew Crew</title>
</head>

<body>
<div>

    <table>
        <!columns>
        <tr>
            {% for header in headers %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>
        <!rows of data>
        {% for row in data %}
        <tr>
            {% for cell in row %}
            <td>
                {{ cell }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

</div>
</body>


</html>
