<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="/static/cutch.ico">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="script" href="/static/table.js">
    <link rel="stylesheet" href="/static/tablesort.css">
    <title>Brew Crew</title>
</head>

<body>

<div>
    <nav class="topnav">
        <a href="/">Table</a>
        <a href="/plots">Plots</a>
    </nav>
</div>

<div id="loader"></div>

<div class="content-table center">

    <table class="content-table center table-sortable sticky">
        <!columns>
        <thead>
        <tr>
            {% for header in headers %}
            <th onclick=sortTable()>{{ header }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <!rows of data>
        {% for row in data %}
        <tr>
            {% for cell in row %}
            <td>
                {{ cell }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

<!Pre loader function>
<script>
    function ricky() {
        let loader = document.getElementById("loader");
        setTimeout(function () {
            loader.style.display = "none";
        }, 750)
    }

    ricky()
</script>

</body>

</html>
