<!DOCTYPE html>
<html lang="en">

<head>
    <link type="image/x-icon" rel="icon" href="{{ url_for("static", filename="cutch.ico" ) }}"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="styles.css") }}"/>
    <title>Brew Crew</title>
</head>


<body>
<div>
    <nav class="topnav">
        <a href="/">Table</a>
        <a href="/plots">Plots</a>
    </nav>
</div>

<div id="loader"></div>


<!We want to make a dropdown text form input that when you select a player, it will make a plot of all of the pitches
that that player has seen or thrown>

<form action="/result" method="get" autocomplete="on">
    <label for="fname">Player: </label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="submit">submit</label>
    <input type="submit" id="submit">
</form>


<!Pre loader function>
<script>
    function ricky() {
        let loader = document.getElementById("loader");
        setTimeout(function () {
            loader.style.display = "none";
        }, 750)
    }

    ricky()
</script>
</body>

</html>
